/* 一些需要重复使用的样式 */
:root {
  /* 颜色 */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* 过渡效果 */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
}

/* 当body标签拥有dark类名的时候的样式 */
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}
